Source: kodi-audioencoder-lame
Priority: extra
Maintainer: Arne Morten Kvarving <spiff@xbmc.org>
Build-Depends: debhelper (>= 8.0.0), cmake, kodi-addon-dev, kodi-audio-dev, libtool, libmp3lame-dev
Standards-Version: 3.9.6
Section: libs
Homepage: http://kodi.tv

Package: kodi-audioencoder-lame
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FLAC audio encoder for Kodi
 FLAC audio encoder for Kodi

Package: kodi-audioencoder-lame-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for FLAC audio encoder for Kodi
 debug symbols for FLAC audio encoder for Kodi

